html {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #2B2733;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  font-stretch: condensed;
  margin: 0;
  height: inherit;
}

h2 {
  color: #CBC9CF;
  transform: scaleY(1.1);
}

h4 {
  font-size: 90%;
  margin: 10px;
  color: #EFB7EC;
}

header {
  background-color: #46424D;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  justify-content: space-around;
  height: inherit;
}

.title {
  color: #FFF;
  letter-spacing: 1.6px;
}

                        /* NEW ACTIVITY SECTION */

.new-activity {
  box-sizing: border-box;
  width: 65%;
  padding: 25px;
  padding-top: 10px;
}

.form {
  box-sizing: border-box;
  background-color: #46424D;
  height: 80%;
  width: 100%;
  box-shadow: 7px 7px #26222D;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding: 50px 140px 50px 140px;
}

.button-box {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
}

img {
  padding-top: 7px;
  height: 23px;
  width: auto;
}

.button-box > button {
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: transparent;
  font-size: 110%;
  height: 67px;
  width: 155px;
  border-radius: 5px;
  padding-bottom: 7px;
}

.study {
color: #CBC9CF;
border: 2px solid #FFF;
}

.exercise {
  color: #CBC9CF;
  border: 2px solid #FFF;
}

.meditate {
  color: #CBC9CF;
  border: 2px solid #FFF;
}

.time-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

}

.error {
  display:flex;
  margin-bottom: 30px;
}

.minute-box, .seconds-box {
  color: #FFF;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 40%;
}

.start-activity-style {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
  width: 100%;
  height: 8%;
}

.start-activity {
  align-self: center;
  width: 32%;
  height: 40px;
  border-radius: 3px;
  border: none;
  background-color: #FFF;
  color: #46424D;
  font-size: 15px;
  outline: none;
}

.accomplish, .category {
  color: #FFF;
}

.user-accomplish, .user-minutes, .user-seconds {
  background: transparent;
  border: none;
  border-bottom: 1px solid #FFF;
  width: 100%;
  outline: none;
  color: #CBC9CF;
  font-weight: 300;
  font-size: 100%;
  padding-top: 20px;
}

.category {
  font-size: 96.5%;
  transform: scaleY(1.1);
}

.past-activities > section {
  margin: 40px;
  transform: scaleX(.85);
}

.green {
  color: #B3FD78;
  border: 2px solid #B3FD78;
}

.purple {
  color: #C278FD;
  border: 2px solid #C278FD;
}

.orange {
  color: #FD8078;
  border: 2px solid #FD8078;
}

.backgroundColor{
  background-color: #db4d4b;
}

.activityError{
  background-color: #CBC9CF;
  transition: background-color 1500ms linear;
}

.activityError:active {
  background-color: #db4d4b;
}

.new-activity-form {
  display: flex;
  justify-content: center;
  background-color: #46424D;
  position: relative;
  height: 80%;
  width: 100%;
  box-shadow: 7px 7px #26222D;
  border-radius: 5px;
}

.new-activity-button {
  align-self: bottom;
  margin-top: 100px;
  width: 40%;
  height: 6%;
  border-radius: 3px;
  border: none;
  background-color: #FFF;
  color: #46424D;
  font-size: 120%;
  transform: scaleY(1.1);
  outline: none;
}

                              /* CLOCK STYLE */

.clock-visual {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.inspiration {
  display: flex;
  justify-content: center;
  height: 100px;
  margin: 0;
}

.message {
  border: none;
  margin: 0;
  padding-top: 0px;
  font-size: 200%;
  font-weight: bolder;
  transform: scaleY(1.1);
}

.timer {
  box-sizing: border-box;
  display: flex;
  text-align: center;
  flex-direction: column;
  background-color: #46424D;
  position: relative;
  height: 74.1%;
  width: 100%;
  box-shadow: 7px 7px #26222D;
  border-radius: 5px;
}

.timer > p {
  display: flex;
  justify-content: center;
}

.accomp {
  margin: 0;
  color: #CBC9CF;
  padding-top: 60px;
  font-size: 125%;
  font-weight: bolder;
  transform: scaleY(1.1);
}


.min {
  margin: 0;
  font-size: 100px;
  color: #FFF;
  font-family: 'Arial';
  font-weight: 800;
  height: 100px;
}

.base-timer-circle {
  fill: none;
  stroke: none;
}


.timer-base {
  stroke-width: 1px;
  stroke: #2B2733;
}

.base-timer-svg {
  transform: scaleX(-1);
}

.base-timer-path {
  stroke-width: 1px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;

}

.timer-meditate {
  stroke: #C278FD;
}

.timer-study {
  stroke: #B3FD78;
}

.timer-exercise {
  stroke: #FD8078;
}

.inner-circle {
  position: absolute;
  height: 113%;
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-family: 'Arial';
  transform: scaleY(1.1);
}

.inner-circle > p {
  cursor: pointer;
  display: flex;
  justify-content: center;
  color: #CBC9CF;
  margin: 10px;
}

.log-box {
  display: flex;
  align-self: center;
  align-content: center;
  justify-content: center;
  height: 40%;
  width: 25%;
}

.log {
  align-self: flex-start;
  width: 100%;
  height: 40%;
  border-radius: 3px;
  border: none;
  background-color: #FFF;
  color: #46424D;
  font-size: 15px;
  transform: scaleY(1.1);
  outline: none;
}

                        /* PAST ACTIVITIES */

.past-activities::-webkit-scrollbar {
  display: none;
}
.past-activities {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  width: 35%;
  height: 100%;
  border-left: #46424D solid 4px;
  padding: 25px;
  padding-top: 10px;
}

.past-activities-box > p {
  display: flex;
  justify-content: center;
  color: #CBC9CF;
  margin: 10px;
}

.past-activities-box {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.not-logged > p {
  display: flex;
  justify-content: center;
  color: #CBC9CF;
  margin: 10px;
}

                      /* PAST ACTIVITY CARDS */

.new-card {
  display: flex;
  flex-direction: row;
  color: #CBC9CF;
  background-color: #46424D;
  margin-top: -20px;
  margin-left: -17%;
  margin-bottom: 50px;
  padding-left: 0px;
  width: 133%;
  height: 100px;
  box-shadow: 7px 7px #26222D;
  border-radius: 5px;
}

.new-card-text-box {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-around;
  width: 70%;
  margin-left: 10px;
}

.text-box-baby {
  display: flex;
  flex-direction: column;
}

.card-category {
  color: #FFF;
}

.card-accomp {
  margin-bottom: 10px;
}

.card-color-container {
  display: flex;
  justify-content: flex-end;
  height:60px;
  width: 30%;
}

.card-color-tag-study {
  align-self: flex-start;
  height: 30px;
  width: 5px;
  margin-top: 10px;
  margin-right: 10px;
  background-color: #B3FD78;
  border-radius: 5px;
}

.card-color-tag-meditate {
  align-self: flex-start;
  height: 30px;
  width: 5px;
  margin-top: 10px;
  margin-right: 10px;
  background-color: #C278FD;
  border-radius: 5px;
}

.card-color-tag-exercise {
  align-self: flex-start;
  height: 30px;
  width: 5px;
  margin-top: 10px;
  margin-right: 10px;
  background-color: #FD8078;
  border-radius: 5px;
}

                          /* !!SHADOW CLASSES!! */

.hidden {
  display: none;
}

.invisibility {
  visibility: hidden;
}

                          /* MEDIA QUERIES */

@media screen and (max-width: 1440px) {
  .inner-circle {
    height: 116.5%;
  }

  .new-activity-form {
    height: 86.5%;
    max-height: 608px;
  }

  .form {
    height: 86.5%;
    max-height: 608px;
  }

  .timer {
    height: 78.6%;
  }

}

@media screen and (min-height: 1000px) {
  .inner-circle {
    height: 108%;
  }

  .timer {
    height: 74.75%;
  }
}
